h4{
    letter-spacing: 4px;
}

div > p{
    color: red;
    margin-bottom: 30px;
    text-indent: 5px;
}

div > p:nth-child(even){
    background: yellow;
    text-align: center;
}

div > p:nth-child(6){
    border: 1px dashed blue;
    border-left: none;
}

div > p:nth-child(odd){
    font-style: italic;
}
